<div class="bg-dark py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a class="nav-link text-white" href="{{@site.url}}">{{@site.title}} &copy; {{date format="YYYY"}}</a>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-lg-end justify-content-center">
                    {{#if @site.facebook}}
                    <li class="nav-item">
                        <a class="nav-link text-white text-capitalize" href="{{facebook_url}}">{{t "Facebook"}}</a>
                    </li>
                    {{/if}}
                    {{#if @site.twitter}}
                    <li class="nav-item">
                        <a class="nav-link text-white text-capitalize" href="{{twitter_url}}">{{t "Twitter"}}</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link text-white text-capitalize" href="https://ghost.org/">{{t "Ghost"}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
