<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-5">
    {{#if prev}}
    <li class="page-item">
      <a class="page-link text-dark" href="{{page_url prev}}">{{t "Previous"}}</a>
    </li>
    {{/if}}
    {{#if next}}
    <li class="page-link text-dark">{{page}} / {{pages}}</li>
    {{else if prev}}
    <li class="page-link text-dark">{{page}} / {{pages}}</li>
    {{/if}}
    {{#if next}}
    <li class="page-item">
      <a class="page-link text-dark" href="{{page_url next}}">{{t "Next"}}</a>
    </li>
    {{/if}}
  </ul>
</nav>