<!-- single post card -->
<div class="col-lg-4 col-md-6">
    <div class="card h-100 {{post_class}}">
        {{#if feature_image}}
        <a href="{{url}}">
            <img src="{{feature_image}}" class="card-img-top object-cover" height="276" alt="{{title}}">
        </a>
        {{/if}}
        <div class="card-body">
            <div class="mb-3 ">
                {{#primary_tag}}
                <a href="{{url}}"  class="badge bg-secondary text-decoration-none text-white fs-6 fw-normal pb-2 text-capitalize">{{name}}</a>
                {{/primary_tag}}
                
            </div>
            <h4 class="card-title mb-3"><a class="text-decoration-none text-dark" href="{{url}}">{{title}}</a></h4>
            <p class="card-text">{{excerpt}}</p>
        </div>
        <div class="card-footer mt-4 d-flex justify-content-between align-items-center">
            {{#primary_author}}
            <div class="author">
                <a class="text-decoration-none text-dark" href="{{url}}">
                {{#if profile_image}}
                    <img src="{{profile_image}}" class="rounded-circle object-cover" alt="{{name}}" height="30" width="30">
                {{else}}
                {{name}}
                {{/if}}
                </a>
            </div>
            {{/primary_author}}
            <small class="text-muted">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</small>
        </div>
    </div>
</div>